.banner {
    position: relative;
    margin-top: -20px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: 220px;
    filter: brightness(50%);
    border-radius: 30px;
    object-fit: none;
}

.bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    place-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    z-index: 1;
    // white-space: nowrap;
    width: 90%;
    display: inline-grid;
}

@media only screen and (max-width: 860px) {
    .banner img {
        height: 130px;
        border-radius: 15px;
    }

    .bannerText {
        font-size: 27px;
    }
}

// .banner {
//     position: relative;
//     display: inline-block;
// }

// .bannerText {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: rgba(255, 255, 255, 0.7);
//     padding: 10px;
//     font-size: 18px;
//     color: #000;
//     font-weight: bold;
//     white-space: nowrap;
// }

// .bannerText p {
//     margin: 0;
// }

// .banner img {
//     max-width: 100%;
//     height: auto;
// }


