.img {
    height: 400px;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.carousel {
    position: relative;
}

.carousel-container {
    width: 90%;
    margin: 0 auto;
}

.carousel-arrow-left,
.carousel-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 90px;
}

  
.carousel-arrow-right {
    right: 70px;
}

.carousel-arrow-left {
    left: 70px;
}

@media only screen and (max-width: 860px) {
    .img {
        height: 300px;
    }

    .carousel-arrow-left {
        font-size: 30px;
    }

    .carousel-arrow-right {
        font-size: 30px;
    }
}

