.errorContainer {
    color: #ff6060;
    text-align: center;
}

.errorText {
    font-size: 40px;
    font-weight: 500;
} 

.errorNumber {
    font-size: 300px;
    font-weight: 600;
}

.errorLinkHome {
    color: #ff6060;
}