.footer {
    margin: 0;
    background-color: black;
    margin-top: 35px;
}

.footer p {
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}