.propos {
    background-color: #ff6060;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.clickPropos {
    background-color: #f7f7f7;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #ff6060;
    border-radius: 0 0 5px 5px;
    font-size: 20px;
    padding: 20px 14px 20px 15px
}

.propos i {
    transition: transform 0.5s ease;
}

.count .propos i {
    justify-content: start;
  transform: rotate(180deg);
}

.clickPropos .scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.rotate-icon i {
    transition: transform 0.3s ease; /* Ajoutez une transition pour une rotation en douceur */
  }
  
  .rotate-icon:hover i {
    transform: rotate(180deg); /* Applique une rotation de 180 degrés à l'icône */
  }

