* {
    margin: 0;
    padding: 0;
    margin: 0px 10px 0px 10px;
    box-sizing: border-box;
    font-family : 'Raleway', sans-serif ;
}



@import './navbar';
@import './banner';
@import './main';
@import './footer';
@import './propos';
@import './errorPage';
@import './pages';